{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 1%",
          "last 5 versions"
        ]
      },
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }] // polyfill新语法
  ],
  "env": {
    "cj": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}
